@font-face {
  font-family: 'TTMastersDEMOBlack';
  src: local('☺'),  url('../fonts/TTMastersDEMOBlack.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TT_Masters_DEMO_Rough_Thin';
  src: local('☺'),  url('../fonts/TT_Masters_DEMO_Rough_Thin.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TT_Masters_DEMO_Birds_Regular';
  src: local('☺'),  url('../fonts/TT_Masters_DEMO_Birds_Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
